
#main-section {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 5rem;
    background-color: var(--background-color);
}

#main-section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    color: var(--h-primary-color);
}

@media screen and (min-width: 768px) {
    #main-section h2 {
        font-size: 200%;
    }
}

@media screen and (min-width: 992px) {
.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}

@media screen and (max-width: 768px) {
.article-container {
    display: flex;
    flex-direction: column;
}
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 1rem; /* ändrar inom kortet */
    margin: 1.5rem; /* mellan korten */
    background-color: white;
    padding-top: 2rem;
    min-width: 275px;
    max-width: 300px;
    
}

@media screen and (min-width: 992px) {
.articles { /* innehållet i korten */
    padding: 4rem;
    height: 400px;
    padding-top: 2rem;
}
}

.articles img {
    display: block;
    margin: auto;
}

@media screen and (max-width: 992px) {
    .articles img {
        max-width: 80%;
    }
}

#main-section h3 a {
    font-family: montserrat;
    text-decoration: none;
    color: var(--primary-text-color);
}

@media screen and (max-width: 992px) {
    #main-section h3 {
        font-size: 80%;
        margin: 20px;
    }
}

#main-section h3 a:hover {
    text-decoration: underline;
}

#main-section p {
    font-family: montserrat;
    text-align: center;
    margin: 3px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #main-section p {
        font-size: 80%;
        margin: 15px;
    }
}
