
@media screen and (min-width: 992px) {
header {
    position: fixed; /* navbaren följer med när man scrollar */
    top: 0%;
    width: 100%;
    background-color: var(--background-color);
}
}

@media screen and (min-width: 992px) {
nav {
    display: grid;
    grid-template-columns: auto 0.2fr auto 0.3fr auto;
}
}

@media screen and (min-width: 992px) {
  #logo img {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
}

@media screen and (max-width: 768px) {
  #logo {
    display: block;
    margin: auto;
    width: 60%;
  }
}

nav ul {
  list-style: none;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  nav ul {
    display: flex;
    margin: 4rem;
    gap: 4rem;
  }
}

nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: montserrat; 
}  

@media (max-width: 768px) {
  #search-input {
    display: none;
  }
}

#search-input > input {
    display: flex;
    margin: 4rem;
    float: right;
    padding: 6px;
    border: none;
    font-size: 15px;
    font-family: montserrat;
}

a:active {
  color: var(--button-primary);
} /* fungerar ej */

a:hover {
  color: var(--button-primary);
}