
#hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 992px) {
#hero-section > div {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3rem 4rem;
    gap: 1.5rem;
    margin-top: 150px;
}
}

@media screen and (min-width: 992px) {
    #sidebar {
        height: 650px;
        width: 300px;
    }
}

#sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    #sidebar {
        padding: 1rem;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }
}

#sidebar img {
    display: block;
    margin: auto;
}

#sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 17px;
    color: var(--primary-text-color);
    font-family: montserrat;
}

#sidebar a:hover {
  text-decoration: underline;
}

hr {
    display: block;
    width: 250px;
}

@media screen and (min-width: 992px) {
    #hero-right {
        height: 650px;
        width: 950px;
    }
}

#hero-right {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

#hero-right img {
    margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
    #hero-right img {
        width: 70%;
    }
}

h1 a {
    color: var(--h-primary-color);
    text-decoration: none;
    font-family: montserrat;
}

@media screen and (min-width: 992px) {
    h1 a {
    font-size: 25px;
    margin-left: 40px;
}
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 100%;
        text-align: center;
    }
}


h1 a:hover {
    text-decoration: underline;
    color: var(--h-primary-color);
}

#hero-section p {
    font-family: montserrat;
    font-size: 15px;
    line-height: 1.2;
    color: var(--primary-text-color);
    text-align: center;
    margin-left: 2.5px;
    margin-right: 2.5px;
}